.post {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 750px){
    .post {
        display: block;
        width: 100%;
    }
}


.post-block {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: 4px;
}


.post-block .post-header{
    display: block;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
    text-align: center;
}

.post-block .post-header .post-title {
    margin: 0 auto;
    width: 70%;
    font-size: 25px;
    text-align: center;
    word-break: break-word;
    font-weight: 400;
    margin-bottom: 5px;
}


.post-block .post-header .post-meta {
    color: #999;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    text-align: center;
}


